/* Header */
#shoppingCart {
	box-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83, 0 0 20px #C94D83, inset 0 0 1px #C94D83, inset 0 0 2px #C94D83, inset 0 0 6px #C94D83, inset 0 0 20px #C94D83;        
    background-color: rgb(77, 77, 77);}

#links a {
    box-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83, inset 0 0 1px #C94D83, inset 0 0 2px #C94D83, inset 0 0 6px #C94D83;        
}

#links a:hover {
	box-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83, 0 0 20px #C94D83, inset 0 0 1px #C94D83, inset 0 0 2px #C94D83, inset 0 0 6px #C94D83, inset 0 0 20px #C94D83;        
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

/* Each Item */
.container {
	margin: 0 auto;
	max-width: 980px;
}

.container h1 {
	font-weight: 300;
}

.container h4 {
	display: block;
	margin: 0;
}

#products {
	list-style-type: none;
	padding: 0;
}

.product {
	border: 2px solid #F490BE;
	height: 193px;
	position: relative;
	margin-bottom: 10px;
	-webkit-transition: margin 0.2s linear, opacity 0.2s linear;
	-moz-transition: margin 0.2s linear, opacity 0.2s linear;
	-ms-transition: margin 0.2s linear, opacity 0.2s linear;
	-o-transition: margin 0.2s linear, opacity 0.2s linear;
	transition: margin 0.2s linear, opacity 0.2s linear;
}

.product img {
	margin-right: auto;
	margin-left: auto;
	width: 190px;
	height: 190px;
	display: block;
}

.product .content {
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 140px;
	padding: 0 20px;
	width: 75%;
	padding-bottom: 6px;
}

.product header {
	border-right: 2px solid #F490BE;
	background: black;
	overflow: hidden;
	padding: 0;
	width: 25%;
	height: 189px;
	float: left;
}

.product header:hover {
	filter: invert(100%);
}

.product h1 {
	font-size: 25px;
	font-weight: 300;
	margin: 17px 0 0 0;
}

#costs .price {
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

#costs .full-price {
	background: #7d8584;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
	-webkit-transition: margin 0.15s linear;
	-moz-transition: margin 0.15s linear;
	-ms-transition: margin 0.15s linear;
	-o-transition: margin 0.15s linear;
	transition: margin 0.15s linear;
}

@media only screen and (max-width: 900px) 
{
    article header
    {
        display: none;
	}
	
	li {
		max-width: 765px;
		margin-left: auto;
		margin-right: auto;
	}

	.product .content {
		width: 100%;
	}

}

/* Increment / Decrement */
.qty {
	font-size: 19px;
	line-height: 49px;
	width: 70px;
	text-align: center;
	display: block;
	float: left;
}

.quantity-plus, .quantity-minus {
	font-size: 30px;
	font-weight: 300;
	padding: 0 20px;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
}

.quantity-plus:hover, .quantity-minus:hover {
	background: #7d8584;
	color: #fff;
	cursor: pointer;
}

/* Footer */
.clearfix {
	color: white;
	margin-right: auto;
	margin-left: auto;
	display: block;
	max-width: 150px;
}

#site-footer h1 {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}


#site-footer h5 {
	font-size: 13px;
	font-weight: 300;
	border-style: none none solid none;
	text-align: center;
}

button {
	display: block;
	background: black;
	color: #fff;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border: 0;
	font-weight: 700;
	width: 100%;
	height: 40px;
	outline: none;
	cursor: pointer;
	transition: all 0.15s ease;
}

button:hover {
	transform: translateY(-1px);
	box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

button:active {
	background: #707070;
}

.total {
	margin-bottom: 0px;
}

.shipping {
	margin-top: 8px;
	padding-bottom: 2px;
}