.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f8fbfd;
}
  
  /* Overall Container */
  
#main {
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: width 0.3s ease-in-out;
}

#main.checkout:not(.success):not(.error) {
    width: calc(100% - 450px);
}
  
  /* Header */
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #fff url(/images/logo.svg) center center no-repeat;
    border-bottom: 1px solid #f3f3ff;
  }
  
  header a.shop,
  header a.github {
    margin: 30px;
    font-size: 13px;
    font-weight: 500;
    color: #666ee8;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  header a.github {
    padding-left: 20px;
    background: url(/images/github.svg) left center no-repeat;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  /* Checkout */
  
  #checkout {
    max-width: 480px;
    margin: 0 auto;
    padding: 30px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear 0.5s;
  }
  
  #main.checkout #checkout {
    visibility: visible;
    opacity: 1;
  }
  
  section {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
  }
  
  h1 {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 500;
  }
  
  h2 {
    margin: 15px 0;
    color: #32325d;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 13px;
    font-weight: 500;
  }
  
  /* Payment Request */
  
  #payment-request {
    visibility: hidden;
    opacity: 0;
    min-height: 100px;
    padding: 20px 0;
    transition: visibility 0s, opacity 0.3s ease-in;
  }
  
  #payment-request.visible {
    visibility: visible;
    opacity: 1;
  }
  
  #payment-form {
    margin: 0 -30px;
    padding: 20px 30px 30px;
    border-radius: 4px;
    border: 1px solid #e8e8fb;
  }
  
  /* Form */
  
  fieldset {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15),
      0 4px 6px 0 rgba(112, 157, 199, 0.15);
    border-radius: 4px;
    border: none;
    font-size: 0;
  }
  
  fieldset label {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 42px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    color: #8898aa;
    font-weight: 400;
  }
  
  fieldset label:not(:last-child) {
    border-bottom: 1px solid #f0f5fa;
  }
  
  fieldset label.state {
    display: inline-flex;
    width: 75%;
  }
  
  fieldset:not(.with-state) label.state {
    display: none;
  }
  
  fieldset label.zip {
    display: inline-flex;
    width: 25%;
    padding-right: 60px;
  }
  
  fieldset:not(.with-state) label.zip {
    width: 100%;
  }
  
  fieldset label span {
    min-width: 125px;
    padding: 0 15px;
    text-align: right;
  }
  
  fieldset .redirect label span {
    width: 100%;
    text-align: center;
  }
  
  p.instruction {
    display: inline-table;
    margin-top: -32px;
    padding: 0 5px;
    text-align: center;
    background: #f8fbfd;
  }
  
  p.tip {
    margin: -10px auto 10px;
    padding: 5px 0 5px 30px;
    font-size: 14px;
    background: url(/images/tip.svg) left center no-repeat;
  }
  
  .field {
    flex: 1;
    padding: 0 15px;
    background: transparent;
    font-weight: 400;
    color: #31325f;
    outline: none;
    cursor: text;
  }
  
  .field::-webkit-input-placeholder {
    color: #aab7c4;
  }
  .field::-moz-placeholder {
    color: #aab7c4;
  }
  .field:-ms-input-placeholder {
    color: #aab7c4;
  }
  
  fieldset .select::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    right: 20px;
    top: 50%;
    margin-top: -2px;
    background-image: url(/images/dropdown.svg);
    pointer-events: none;
  }
  
  input {
    flex: 1;
    border-style: none;
    outline: none;
    color: #313b3f;
  }
  
  select {
    flex: 1;
    border-style: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    color: #313b3f;
    cursor: pointer;
    background: transparent;
  }
  
  select:focus {
    color: #666ee8;
  }
  
  ::-webkit-input-placeholder {
    color: #cfd7e0;
  }
  ::-moz-placeholder {
    color: #cfd7e0;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: #cfd7e0;
  }
  
  input:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: #666ee8;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out 1s;
  }
  
  .StripeElement--webkit-autofill {
    background: transparent !important;
  }
  
  #card-element {
    margin-top: -1px;
  }
  
  #ideal-bank-element {
    padding: 0;
  }
  
  button {
    display: block;
    background: #666ee8;
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    width: 100%;
    height: 40px;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease;
  }
  
  button:focus {
    background: #555abf;
  }
  
  button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
      0 3px 6px 0 rgba(0, 0, 0, 0.08);
  }
  
  button:active {
    background: #43458b;
  }