@import url('https://fonts.googleapis.com/css?family=Nunito:800');

* {
    box-sizing: border-box;
    color: #F490BE;
    text-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83;
}

html {
    /*font-family: Helvetica, Helvetica, sans-serif;*/
    font-family: 'Nunito', sans-serif;
	position: relative;
	padding-bottom: 80px;
}

body {
	margin: 0px; 
    background-position: center center; 
    background-attachment: fixed;
    background-image: url('../Images/blackbricks.jpg');
}

/* Header */ 
#logo {
	max-width: 200px;
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#logo:hover {
    cursor: pointer;
}

#links {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    
}

#shoppingCart {
    border: 2px solid #F490BE;
    height: 30px;
    width: 30px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    
}

#links a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid #F490BE;
    color: #F490BE;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
#copyright {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    /* establish flex container */
    flex-direction: row;
    font-size: 8pt;
}

#copyright p {
    margin: 0;
    padding-right: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    position: absolute;
	height: 80px;
}

footer img {
    width: 25px;
    height: 25px;
}