html {
	font-family: Helvetica, Helvetica, sans-serif;
	position: relative;
	padding-bottom: 80px;
}

body {
	margin: 0px;
    background-size: contain; 
    background-position: center center; 
	background-attachment: fixed;
}

#logo {
	max-width: 754px;
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#logo:hover {
    cursor: pointer;
}


#links {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    /* establish flex container */
    flex-direction: column;
}

#links a {
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
}


#shoppingCart {
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    margin-left: auto;
	margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

#shopLink {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#copyright {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    /* establish flex container */
    flex-direction: row;
    font-size: 8pt;
}

#copyright p {
    margin: 0;
    padding-right: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    position: absolute;
	height: 80px;
}

footer img {
    width: 25px;
    height: 25px;
}

