body, html {
    height: 100%;
    margin: 0;
    /* The image used */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: canter;
    src: url(../canter.otf);
}


.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    color:rgb(3, 3, 3);
    font-weight: 500;
    list-style: none;
    font-family: canter;
    font-size: 25px;
    padding-left: 0px;
    margin: 0;
}

li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}

li a:hover{
    color:#ffffff;
    background-color:rgba(77, 87, 114, 0.75);
}

p {
    margin: 0;
}

.logo {
    max-width: 700px;
    max-height: 700px;
}

.shopGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 20px 20px;
    padding: 10px;
    position: absolute;
    width: 60%;
    top: 20%;
    right: 0%;
}

.item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    height: 300px;
    font-size: 30px;
    text-align: center;
}
