html{
    height: 100%;
    overflow: hidden;
    background-image: url('../Images/flicker.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}