html {
    font-family: Helvetica, Helvetica, sans-serif;
}

#logo {
    max-width: 754px;
    width: 100%;
    height: auto;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#logo:hover {
    cursor: pointer;
}

#shopGrid {
    display: grid;
    grid-template-columns: 225px;
    grid-gap: 20px 20px;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 510px;
}

@media only screen and (min-width: 765px) {
    #shopGrid {
        display: grid;
        grid-template-columns: 225px 225px 225px;
        grid-gap: 20px 20px;
        padding: 10px;
        left: 25%;
        width: 50%;
        justify-content: space-evenly;
    }
}

#links {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    /* establish flex container */
    flex-direction: column;
}

#shoppingCart {
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

#shoppingCart:hover {
    background-color: rgb(185, 185, 185);
    border: 1px solid rgba(255, 255, 255, 0.8);
    filter: invert(100%);
    cursor: pointer;
}

#shopLink {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

a {
    background-color: rgb(77, 77, 77);
    color: white;
    text-decoration: none;
    padding: 5px;
}


.item {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 300px;
    font-size: 30px;
    text-align: center;
}

.item:hover {
    filter: invert(100%);
}

div img{
    max-height: 220px;
    max-width: 220px;
    margin: 0;
}