#shopGrid {
    display: grid;
    grid-template-columns: 225px;
    grid-gap: 20px 20px;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 510px;
}

@media only screen and (min-width: 765px) {
    #shopGrid {
        display: grid;
        grid-template-columns: 225px 225px 225px;
        grid-gap: 20px 20px;
        padding: 10px;
        left: 25%;
        width: 50%;
        justify-content: space-evenly;
    }
    body {
        background-size: cover; 
    }
}


#shoppingCart {
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

#shoppingCart:hover {
    background-color: rgb(185, 185, 185);
    border: 1px solid rgba(255, 255, 255, 0.8);
    filter: invert(100%);
    cursor: pointer;
}

#shopLink {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

#links a {
    background-color: rgb(77, 77, 77);
    color: white;
    text-decoration: none;
    padding: 5px;
}


.item {
    font-size: 30px;
    height: 220px;
    text-align: center;
    display: block;
    z-index: 999;
    background-size: 220px;
    border: 1px solid #eb13bc;
    box-shadow: 0 0 1px #ff51f6, 0 0 2px #ff51f6, 0 0 6px #ff51f6, inset 0 0 1px #ff51f6, inset 0 0 2px #ff51f6, inset 0 0 6px #ff51f6;
    background-repeat: no-repeat;
}

.item1 {
    background-image: url("../Images/m1s1s.jpg");    
}

.item2 {
    background-image: url("../Images/m1s1l.jpg");    
}

.item3 {
    background-image: url("../Images/m1s2s.jpg");    
}

.item4 {
    background-image: url("../Images/ebwwt.jpg");    
}

.item4:hover{
    background-image: url("../Images/ebwwtb.jpg");
}

.item5 {
    background-image: url("../Images/ebwpt.jpg");    
}

.item5:hover{
    background-image: url("../Images/ebwptb.jpg");
}

.item6 {
    background-image: url("../Images/ebwws.jpg");    
}

.item6:hover{
    background-image: url("../Images/ebwwsb.jpg");
}