/* Header */
#shoppingCart {
    box-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83, inset 0 0 1px #C94D83, inset 0 0 2px #C94D83, inset 0 0 6px #C94D83;    
}

#shoppingCart:hover {
    box-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83, 0 0 20px #C94D83, inset 0 0 1px #C94D83, inset 0 0 2px #C94D83, inset 0 0 6px #C94D83, inset 0 0 20px #C94D83;    
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

#links a {
    background-color: rgb(77, 77, 77);
    box-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83, 0 0 20px #C94D83, inset 0 0 1px #C94D83, inset 0 0 2px #C94D83, inset 0 0 6px #C94D83, inset 0 0 20px #C94D83; 
}

/* Clothing Grid */
#shopGrid {
    display: grid;
    grid-template-columns: 225px;
    grid-gap: 20px 20px;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 510px;
}

@media only screen and (min-width: 765px) {
    #shopGrid {
        display: grid;
        grid-template-columns: 225px 225px 225px;
        grid-gap: 20px 20px;
        padding: 10px;
        left: 25%;
        width: 50%;
        justify-content: space-evenly;
    }
    body {
        background-size: cover; 
    }
}

.item {
    font-size: 30px;
    height: 220px;
    text-align: center;
    display: block;
    z-index: 999;
    background-size: 220px;
    border: 2px solid #F490BE;
    box-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83, inset 0 0 1px #C94D83, inset 0 0 2px #C94D83, inset 0 0 6px #C94D83;
    background-repeat: no-repeat;
}

.item:hover {
    box-shadow: 0 0 1px #C94D83, 0 0 2px #C94D83, 0 0 6px #C94D83, 0 0 20px #C94D83, inset 0 0 1px #C94D83, inset 0 0 2px #C94D83, inset 0 0 6px #C94D83, inset 0 0 20px #C94D83;
    cursor: pointer;
}

/* Specific Items */
.item1 {
    background-image: url("../Images/m1s1s.jpg");    
}

.item2 {
    background-image: url("../Images/m1s1l.jpg");    
}

.item3 {
    background-image: url("../Images/m1s2s.jpg");    
}

.item4 {
    background-image: url("../Images/ebwwt.jpg");    
}

.item4:hover{
    background-image: url("../Images/ebwwtb.jpg");
}

.item5 {
    background-image: url("../Images/ebwpt.jpg");    
}

.item5:hover{
    background-image: url("../Images/ebwptb.jpg");
}

.item6 {
    background-image: url("../Images/ebwws.jpg");    
}

.item6:hover{
    background-image: url("../Images/ebwwsb.jpg");
}

.soldOut:hover {
    cursor: default;
}

.soldOut p {
    margin-top: 60px;
}