html, body {
    height: 100%;
    overflow: hidden;
    background-image: url('https://media.giphy.com/media/YdCQj8f7vZiQU/giphy.gif');
    background-repeat: repeat;
}

#wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 100%;
}

#field {
    flex: 1 1 auto; 
    border-bottom: 3px black groove;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.feather {
    width: 36px;
    height: 112px;
    position: absolute;
    cursor: pointer;
}

#field a {
    position: absolute;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
}

.column img {
    width: 100%;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}